<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<!-- link js -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
	<title>Document</title>
</head>

<body>
	<!-- Make a modal  with tag html native-->
	<dialog>
		<div>
			<header>
				<button type="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
						stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<path d="M10 10l4 4m0 -4l-4 4" />
						<path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
					</svg>
				</button>

			</header>
			<section>
				<div id="coin-info"></div>
				<div class="char-info">
					<small id="prediction"></small>
					<canvas id="chart"></canvas>
					<article id="metadata-chart"></article>
					<!-- loading icon -->
					<div id="loading-icon-dialog" class="loading-icon"></div>
				</div>
			</section>
		</div>
	</dialog>
	<!-- REAL CODE -->
	<header>
		<small>
			<input id="search-coin" placeholder="Search coin">
		</small>
		<h2>CoinsPepito</h2>
	</header>
	<main>
		<aside>
			<section id="general-coins">
				
			</section>
		</aside>
		<section id="lists-coins">
			<div id="low-market-coins">
				<h3> Monedas a invertir de baja capitalizacion</h3>
				<div class="list">
					{% for coin in low_coins %}
					<article class="coin-bubble" coin-data="{{coin}}">
						<img src="{{coin.image}}">
						<p>{{coin.symbol.upper()}}</p>
					</article>
					{% endfor %}
				</div>
			</div>
			<div id="worst_coins">
				<h3> Monedas a invertir de alta capitalizacion</h3>
				<div class="list">
					{% for coin in general_coins %}
					<article class="coin-bubble" coin-data="{{coin}}">
						<img src="{{coin.image}}">
						<p>{{coin.symbol.upper()}}</p>
					</article>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
	<!-- TEMPLATES -->
	<template id="coin-bubble-template">
		<article class="coin-bubble" coin-data="">
			<img src="">
			<p></p>
		</article>
	</template>
	<template id="coin-info-template">
		<h2></h2>
		<p><span>Market Cap</span>: $<span class="market-cap"></span></p>
		<p><span>Price</span>: $<span class="current-price"></span></p>
		<p><span>Volume</span>: $<span class="total-volume"></span></p>
		<p><span>Total supply</span>: <span class="total-supply"></span></p>
		<p><span>Max. Supply</span>: <span class="max-supply"></span></p>
		<p><span>Category</span>: <span class="category"></span></p>
		<div class="centralized list-tag">
		</div>
		<div class="decentralized list-tag">
		</div>
	</template>
	<template id="metadata-chart-template">
		<p><span>Sharper ratio</span>: <span class="sharper"></span></p>
		<p><span>Log Return</span>: <span class="log-return"></span>%</p>
		<p><span>Mean RSI</span>: <span class="mean-rsi"></span></p>
		<p><span>Volatility</span>: <span class="volatility"></span>%</p>
	</template>

</body>

</html>